StatusService/StatusServiceClient/Service References/StatusServiceReference/IEntryStatusService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.smartborder.com/SBNET/USB/IEntryStatusService" elementFormDefault="qualified" targetNamespace="http://www.smartborder.com/SBNET/USB/IEntryStatusService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Subscribe">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Unsubscribe">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OnStatusUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="S" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>