SampleDuplexClient/StatusServiceTestClient/Service References/StatusServiceReference/Mex.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.smartborder.com/SBNET/USB/IEntryStatusService" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.smartborder.com/SBNET/USB/IEntryStatusService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.smartborder.com/SBNET/USB/IEntryStatusService/Imports">
      <xsd:import schemaLocation="http://localhost:1111/EventService/Mex?xsd=xsd0" namespace="http://www.smartborder.com/SBNET/USB/IEntryStatusService" />
      <xsd:import schemaLocation="http://localhost:1111/EventService/Mex?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1111/EventService/Mex?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/StatusServiceLiberary" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IStatusService_Subscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:Subscribe" />
  </wsdl:message>
  <wsdl:message name="IStatusService_Unsubscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:Unsubscribe" />
  </wsdl:message>
  <wsdl:message name="IStatusService_OnStatusUpdate_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnStatusUpdate" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="IStatusService">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Subscribe">
      <wsdl:input wsaw:Action="http://www.smartborder.com/SBNET/USB/IEntryStatusService/IStatusService/Subscribe" message="tns:IStatusService_Subscribe_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Unsubscribe">
      <wsdl:input wsaw:Action="http://www.smartborder.com/SBNET/USB/IEntryStatusService/IStatusService/Unsubscribe" message="tns:IStatusService_Unsubscribe_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="OnStatusUpdate">
      <wsdl:output wsaw:Action="http://www.smartborder.com/SBNET/USB/IEntryStatusService/IStatusService/OnStatusUpdate" message="tns:IStatusService_OnStatusUpdate_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>