StatusService/StatusService/Service References/StatusServiceReferenceForClient/IEntryStatusService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.smartborder.com/SBNET/USB/IEntryStatusService" elementFormDefault="qualified" targetNamespace="http://www.smartborder.com/SBNET/USB/IEntryStatusService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/StatusServiceLiberary" />
  <xs:element name="SubscibeForStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnsubscribeForStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnStatusUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/StatusServiceLiberary" minOccurs="0" name="S" nillable="true" type="q1:Status" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>