StatusService/StatusService/Service References/StatusServiceReferenceForClient/StatusServiceLiberary.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/StatusServiceLiberary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/StatusServiceLiberary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Status">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Number" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Status" nillable="true" type="tns:Status" />
</xs:schema>